body{
  background: image-url('back.png') fixed no-repeat;
  background-size: cover;
  background-color: white;
}

.jumbotron {
  background-color: rgba(255, 0, 0, 0);
  color: black;
  text-shadow: 0px 3px grey;
  max-width: 100%
}

.jumbotron > h1.bannertitle {
  padding-left: 830px;
  padding-top: 153px;
}

.jumbotron > h4 {
  font-size: 22.5px;
  padding-left: 830px;
  padding-top: 153px;
  padding-top: 0px;
  margin-bottom: 150px;
  color: black;
}

.jumbotron  p {
    margin-bottom: 0px;
    font-size: 18px;
    font-weight: 200;
    margin-top: 6px;
    color: black;
}

#banner{
  height: auto;
  min-height: 100vh;
  width: 100%;
  overflow: hidden;
  background: image-url('ban.jpg') no-repeat;
  background-size: cover;
  margin-bottom:50px;
}

#banner2{
  height: auto;
  min-height: 100vh;
  width: 100%;
  overflow: hidden;
  background: image-url('wesh.jpg') no-repeat;
  background-size: cover;
  margin-bottom:50px;
}

#podcasts{
  min-height: 100vh;
}

.card {
  margin-top : 30px;
  width: 300px;
  height: 300px;
  text-shadow: 0 1px 3px rgba(0,0,0,0.6);
  background-size: cover !important;
  color: black;
  position: relative;
  border-top-left-radius: 40px;
  border-bottom-right-radius: 40px;
}

.card:hover{
  width: 290px;
  height: 290px;
}

.card-category {
  position: absolute;
  top: 10px;
  left: 10px;
  font-size: 10px;
  text-transform: uppercase;
}
.card-description {
  position: absolute;
  bottom: 10px;
  left: 10px;
  width: 100%;
  padding-left: 10px;
  padding-right: 30px;
}
.card-description h2 {
  font-size: 24px;
}
.card-description p {
  font-size: 13px;
  }
.card-link {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  z-index:2;
  background: black;
  opacity: 0;
  border-top-left-radius: 40px;
  border-bottom-right-radius: 40px;
}

.card-link:hover{
  opacity: 0.1;
  border-top-left-radius: 40px;
  border-bottom-right-radius: 40px;
}

iframe{
  height: 80px;
  width: 100%;

}

.songy{
  margin-top: 10px;
}

.wrapper {
  margin: 30px;
}

#noshadow{
  color: black;
  text-shadow: 0px 0px grey;

}

hr {
  margin-top: 0px;
  margin-bottom: 0px;
}

#jumbo1 {
    margin-left: 10px;
    margin-right: 10px;
    border-radius: 30px;
    margin-top: 10px;
}

body, html {
    height: 100%;
}

.parallax {
    background: image-url('ban.jpg');
    height: 40%;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.paratext{
  color: black;
  padding: 20px;
  height: 460px;
  text-shadow: 0px 0px black;

}

.paratext2{
  color: black;
  padding: 20px;
  height: 460px;
  text-shadow: 0px 0px black;
  background: rgba(250, 250, 250, 0.3);
  padding: 44px;
  margin-top: 110px;
  margin-right: 350px;

}

.parallax2 {
    background: image-url('ban.jpg');
    height: 40%;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.parallax3 {
    background: image-url('ban.jpg');
    height: 40%;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.parallax4 {
    background: image-url('ban.jpg');
    height: 40%;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.btn {
  margin-top: 20px;
  margin-bottom: 20px;
  background-color: black;
  border-color: black;
  border-radius: 100px;
  transition: 2s;
}

.btn:hover {
  background-color: white;
  color: black;
  border-radius: 10px;
}

hr{
  color: black;
  border-top: 1px solid black;
}

.concert{
  margin-top: 200px;
}

.concerto{
  font-size: 100px !important;
}
