<div class="jumbotron" id="banner2">
<div  class="paratext2" style="background-color: linear-gradient(rgba(250,250,250,0.2), rgba(250,250,250,0.2));font-size:18px">
  <div class="row">
    <div class="col-md-6">
      <h1>360BPM - Behind the scenes</h1>
      <hr>
      <p>360BPM is the brainchild of two young party animals who love to rave till the early hours. Made by beat zombies for beat zombies, to enjoy with moderation or not, keep your heart pumping!</p>
      <hr>
      <h4>Contact us:</h4>
      <p>+33 6 43 23 56 67</p>
      <p>Ecole superieure du digital</p>
    </div>
  </div>
</div>
</div>
