<div class="concert text-center">
  <h1 class="concerto">Upcoming Concerts</h1>
</div>
<div class="parallax"></div>
<div  class="paratext" style="background-color: linear-gradient(rgba(250,250,250,0.2), rgba(250,250,250,0.2));font-size:18px">
<div class="row">
<div class="col-md-5 text-center">
  <img src="images/MACKLEMORE.jpg" alt="">
</div>
<div class="col-md-6">
  <h1>Macklemore - Gemini Europe Tour</h1>
<hr>
<h4>Informations:</h4>
<p>Ben William Haggerty naît le 19 juin 1983 à Seattle, dans l'État de Washington (États-Unis), et s'intéresse au rap lors de ses années de lycée grâce au Wu-Tang Clan et à Nas.
C'est sous le nom de Professor Macklemore qu'il effectue ses débuts en 2000 avec l'EP Open Your Eyes. Après avoir raccourci son nom en Macklemore, il sort en 2005 un premier album autoproduit intitulé The Language of My World.</p>
<hr>
<div class="text-center">
<a class="btn btn-primary" href="http://www.fnacspectacles.com/place-spectacle/manifestation/Rap-Hip-hop-Slam-MACKLEMORE-ZPMAC.htm#/manifestation/bientot_reservable" role="button">BUY TICKETS</a>
</div>
<hr>
</div>
</div>
</div>
<div class="parallax2"></div>
<div  class="paratext" style="background-color: linear-gradient(rgba(250,250,250,0.2), rgba(250,250,250,0.2));font-size:18px">
<div class="row">
<div class="col-md-5 text-center">
  <img src="images/KENDRICKLAMAR.jpg" style="width: 380px" alt="">
</div>
<div class="col-md-6">
  <h1>Kendrick Lamar - The Damn Tour</h1>
<hr>
<h4>Informations:</h4>
<p>Kendrick Lamar, l’artiste de Top Dawg Entertainment vainqueur de sept Grammy Awards, s’apprête à embarquer pour la branche européenne du The DAMN. Tour au printemps 2018 !
The DAMN. Tour accompagne la sortie de son quatrième album salué par la critique, DAMN., entré #1 au Billboard 200 – sa troisième présence au sommet – vendu à plus de 2,3 millions d’exemplaires à ce jour et additionnant plus de 400 millions de streams. 14 titres qui observent la complexité de la culture contemporaine.</p>
<hr>
<div class="text-center">
<a class="btn btn-primary" href="http://www.fnacspectacles.com/place-spectacle/manifestation/Rap-Hip-hop-Slam-KENDRICK-LAMAR-AHKEN.htm#/calendrier/" role="button">BUY TICKETS</a>
</div>
<hr>
</div>
</div>
</div>
<div class="parallax3"></div>
<div  class="paratext" style="background-color: linear-gradient(rgba(250,250,250,0.2), rgba(250,250,250,0.2));font-size:18px">
<div class="row">
<div class="col-md-5 text-center">
  <img src="images/GORILLAZ_.jpg" style="width: 90%;" alt="">
</div>
<div class="col-md-6">
  <h1>GORILLAZ</h1>
<hr>
<h4>Informations:</h4>
<p>Après 7 ans d'absence, le groupe virtuel de Damon Albarn et Jamie Hewlett est de retour avec Humanz, un album de pop-électro moderne, urbain et audacieux, agrémenté de featuring cool et chic.
Plus grand succès du charismatique et polyvalent Damon Albarn (Blur), avec 15 millions d'albums vendus dans le monde, dont un million en France et de nombreuses récompenses dont un Grammy Award, Gorillaz s'est rapidement imposé comme l'un des groupes pop les plus avant-gardistes et les plus respectés des années 2000.</p>
<hr>
<div class="text-center">
<a class="btn btn-primary" href="http://www.fnacspectacles.com/place-spectacle/manifestation/Pop-rock-Folk-GORILLAZ-MYSTR.htm#/manifestation/plus_disponible" role="button">BUY TICKETS</a>
</div>
<hr>
</div>
</div>
</div>
<div class="parallax4"></div>
<div  class="paratext" style="background-color: linear-gradient(rgba(250,250,250,0.2), rgba(250,250,250,0.2));font-size:18px">
<div class="row">
<div class="col-md-5 text-center">
  <img src="images/DAVIDGUETTA.jpg" style="width: 75%;" alt="">
</div>
<div class="col-md-6">
  <h1>DAVID GUETTA - EUROPEAN TOUR</h1>
<hr>
<h4>Informations:</h4>
<p>A l’occasion de sa tournée européenne en janvier 2018, DAVID GUETTA se produira à l’ACCORHOTELS ARENA DE PARIS, LE 19 JANVIER 2018 pour un show unique en France !
Déjà 2 ans que le DJ international avait fait danser, sauter et chanter l’arène parisienne, lors de 3 shows démentiels en décembre 2015 et janvier 2016. Il y revient le 19 Janvier prochain, plus attendu que jamais, après avoir révélé cet été son nouveau tube 2U featuring Justin Bieber et annonçant un nouvel album prévu début 2018 (Parlophone / Warner Music). </p>
<hr>
<div class="text-center">
<a class="btn btn-primary" href="http://www.fnacspectacles.com/place-spectacle/manifestation/Pop-rock-Folk-DAVID-GUETTA-DAVID.htm#/disponibilite/62229eb7c0a8281664c375372c9557ac/normale" role="button">BUY TICKETS</a>
</div>
<hr>
</div>
</div>
</div>
